# Folders to ignore
.vs/*
Intermediate/*
Bin/x64/*
Bin/x86/*
Lib/*
.iobj/*
.pdb/*

# Prerequisites
*.d

# Others
*.ini

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.ipdb
*.ilk
*.pdb
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Bin/Resources/3D_Meshes/Vela/